header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 25px;
}

header div {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.project {
  text-align: center;
  box-shadow: 0 0 10px 2px #d0d0d0;
  padding: 15px;
  border-radius: 5px;
}

.project h4 {
  margin-top: 0;
}

.project img {
  border: 1px solid grey;
  width: 300px;
  height: 200px;
  object-fit: cover;
}
